<!DOCTYPE HTML>

<html>
  <head>
    <title> </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body style="background-color: #DFD4CB">

    <!-- Header -->
      <header id="header" class="skel-layers-fixed" style="background-color: #e0555a;color: white;">
      <h1><%= link_to "Transparent India", root_path %></h1> 
        <nav id="nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><a href="https://rtionline.gov.in/" class="icon fa-angle-down">RTI</a></li>
            <li><a href="http://digitalindia.gov.in/">DIGITAL INDIA</a></li>
          </ul>
        </nav>
      </header>
  </body>
</html>
<<br>
<br>
<br>


<div style="display:flex;flex-direction:column;align-items:center">
<style>
#fieldname{
  text-align:center;
  margin:10px 0 -13px 0;
}
</style>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email ,id:'fieldname' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password ,id:'fieldname' %>
    <% if @minimum_password_length %>
    <center><em >(<%= @minimum_password_length %> characters minimum)</em></center>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field" style="text-align:center;padding-top:8px;">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions" style="text-align:center">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
