<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<!-- <noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript> -->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><%= link_to "TRANSPARENT INDIA", welcome_index_path %></h1>
				<nav id="nav">
					<ul>
						<li><a href="https://rtionline.gov.in/" target="_blank">RTI</a></li>
						<li><a href="http://digitalindia.gov.in/" target="_blank">DIGITAL INDIA</a></li>
						<li><%= link_to "About", maps_create_path %></li>
						<% if user_signed_in? %>
							<li><%= link_to "Settings", edit_user_registration_path%></li>
							<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li> 
						<%else%>
							<li><%= link_to "Join", new_user_registration_path%></li>
							<li><%= link_to "Log In", new_user_session_path%></li> 
						 <% end %>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Transparent India</h2>
					<p>Making India a better place</p>
					<ul class="actions">
						<li><%= link_to "Learn More", {controller: "maps", action: "new"},class: "button big scrolly" %></li>
					</ul>
				</div>
			</section>
			<section id="cta" class="wrapper style3">
				<h2>Ready to explore</h2>
				<ul class="actions">
					<li><%= link_to "Get Started", {controller: "maps", action: "index"},class: "button big" %></li>
				</ul>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="#">Code Busters</a>
				</span>
			</footer>

	</body>
</html>